<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Copy</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="content">
        <span id="text" onclick="copy()">
            <%- content %>
        </span>
        <span id="info">Clique pour copier</span>
    </div>

    <script>
        function copy() {
            const text = document.getElementById("text");
            const info = document.getElementById("info");
            navigator.clipboard.writeText(text.innerText);
            info.innerText = "Contenu copier !";
            setTimeout(() => { info.innerText = "Clique pour copier" }, 2500);
        };
    </script>
</body>

</html>