@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    text-rendering: optimizeLegibility;
    height: 100%;
}

body {
    color: #0F0;
    overflow: hidden;
}

.finish,
.loading,
.terminal,
.uuid,
.stream,
.nosignal {
    width: 100%;
    display: none;
    height: 100%;
}


.copy {
    cursor: pointer;
}

.finish,
.uuid,
.nosignal {
    align-items: center;
    justify-content: center;
}

.uuid>div {
    display: flex
}

.build input,
.uuid input {
    height: 36px;
    min-width: 0px;
    max-width: 100%;
    color: rgb(220, 221, 222);
    font-size: 16px;
    unicode-bidi: plaintext;
    padding: 0px 9px;
    background: #1D1D1D;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 3px;
    outline: none;
    transition: background-color 150ms ease 0s, border-color, color;
}

.build input {
    width: 100%;
    margin: 5px 0;
}

.build input[type="submit"]:disabled,
.uuid input[type="submit"]:disabled {
    opacity: .5;
    cursor: not-allowed;
}

.build input[type="submit"],
.uuid input[type="submit"] {
    cursor: pointer;
    margin-left: 8px;
    background: #0F0;
    border-color: #0F0;
    color: rgb(0, 0, 0);
    transition: all 0.5s ease;
}

.build input[type="submit"] {
    margin-left: 0;
    width: 100%;
}

.build input[type="submit"]:not(:disabled):hover,
.uuid input[type="submit"]:not(:disabled):hover {
   transform: scale(0.95);
}



.loading {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.loading .counter {
    text-align: center;
}

.loading .counter p {
    font-size: 40px;
    font-weight: 100;
    color: #0F0;
}

.loading .counter h1 {
    color: white;
    font-size: 60px;
    margin-top: -10px;
}

.loading .counter hr {
    background: #0F0;
    border: none;
    height: 1px;
}

.loading .counter {
    position: relative;
    width: 200px;
}

.loading .counter h1.abs {
    position: absolute;
    top: 0;
    width: 100%;
}

.loading .counter .color {
    width: 0px;
    overflow: hidden;
    color: #0F0;
}

.build form {
    max-width: 600px;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
}

.yes {
    border-color: #0F0 !important;
}

.non {
    border-color: red !important;
}

.stream img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.terminal .block {
    padding: 10px 30px;
}

.block {
    display: flex;
    gap: 5px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 10px;
}

.stream .block .fps {
    background: rgb(255, 255, 255, 0.5);
    color: black;
    border-radius: 5px;
    padding: 5px;
}

.stream .block .fps .online {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0F0;
    margin: 0 5px;
    box-shadow: 0 0 0 0 #0F0;
    animation: pulse 1.3s infinite;
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 18px rgb(46, 204, 64, 0.01);
    }
}

.block a {
    padding: 5px;
    transition: all 0.5s ease;
    transform: rotate(0deg);
}

.block a svg {
    height: 35px;
    width: 35px;
    fill: #fff;
}


html,
body {
    margin: 0;

    background-color: #000;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Roboto Mono', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
}



.terminalCont {
    background: black;
    width: 100%;
    max-height: calc(100% - 54px);
    border-radius: 4px;
    overflow: auto;
    padding: 12px 0 0 0;
    /* margin-top: 20px; */
}


pre {
    font-family: monospace;
    font-size: 16px;
    /* padding: 20px; */
    white-space: pre-wrap;
    line-height: normal;
}

@media (max-width: 768px) {
    #ascii {
        font-size: 12px;
        /* display: none; */
    }
}

@media (max-width: 425px) {
    #ascii {
        font-size: 6px;
        /* display: none; */
    }
}

@media (max-width: 320px) {
    #ascii {
        font-size: 4px;
        /* display: none; */
    }
}

.userEnteredText {
    color: rgba(255, 255, 255, 0.5) !important;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.terminalCont p {
    white-space: pre;
    word-wrap: break-word;
    overflow: auto;
    font-family: 'Roboto Mono', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
}

.terminalCont p iframe {
    width: 90%;
    height: 600px;
}

.terminalCont p img {
    max-height: 500px;
}

.terminalCont p:first-child {
    color: #0F0;
}

#terminalReslutsCont {
    width: 100%;
    padding: 12px;
    resize: none;
    border: none;
    font-size: 14px;
    line-height: 28px;
    display: block;
    color: rgba(255, 255, 255, 0.9);
}

.mainc {
    color: #0F0;
}

.terminal form {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.terminal form input:disabled {
    cursor: not-allowed;
    opacity: .5;
}

#terminalReslutsCont a {
    color: #0F0;
    text-decoration: none;
}

#terminalReslutsCont a:hover {
    text-decoration: underline;
}

#terminalTextInput {
    background: rgb(0, 0, 0, 0.5);
    display: block;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0 0 4px 4px;
    width: 100%;
    color: white;
    padding: 18px;
    font-size: 14px;
    outline: none;
    font-family: 'Roboto Mono', monospace;
}